<p class="text-center text-muted">&copy; Copyright 2022 ICITAP Croatia</p>

<script type="text/javascript">
    $(document).ready(function () {
        $('#date_from').datepicker({
            format: 'mm-dd-yyyy'
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#date_till').datepicker({
            format: 'mm-dd-yyyy'
        });
    });
</script>