<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">PARTNERSHIP FOR EDUCATION</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/countries">Countries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cities">Cities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/et">Event types</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/pt">Person types</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ft">Facility types</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/persons/c/">People</a>
        </li>

    </ul>
</nav>